
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: center; /* 中央寄せ */
  }

.header {
  padding: 0.25em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.newsbox {
  width: 100%; 
  height: 300px; 
  overflow-y: scroll; 
  border: 3px #6cb4e4 solid;
}

h1 {
  color: #6cb4e4;
  text-align: left;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

h2 {
  color: #6cb4e4;
  text-align: left;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
}

h4 {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

table.generalinfo{
  width: 100%;
  border-collapse: collapse;
}

table.generalinfo tr{
  border-bottom: solid 2px white;
}

table.generalinfo tr:last-child{
  border-bottom: none;
}

table.generalinfo th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table.generalinfo th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table.generalinfo td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

ul, li {
  padding: 0;
  position: relative;
}

ul li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

.ratiolist {
    text-align: left;
}




